.breadcrum {
  padding: 2px 8px;
  background: #ffffff;
  border-radius: 1.9375rem;
  color: #343434;
}

.fund_filters_card {

  max-width: 192px;
  min-width: 192px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 0px 1.5px rgba(0, 0, 0, 0.5);
}

.fund_filters_card_last {
  max-width: 192px;
  min-width: 192px;
}

.funds_card_badge {
  top: 12px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2;
  padding: 5px 6px 5px 16px;
  color: #54894A;
  background-color: #E2F4D7;
}

.search_funds {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 0px 1.5px rgba(0, 0, 0, 0.5);
}

.funds_list_div {
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.1), 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.list_div {
  box-shadow: 0px 1px 0px #e2e8f0;
  margin-top: 1px;
}

.fund_list_item:hover .list_div {
  box-shadow: unset;
}

.fund_list_item {
  display: block;
  position: relative;
}

.fund_list_item:before {
  opacity: 0;
  content: "";
  position: absolute;
  top: -1px;
  left: -10px;
  height: calc(100% - 0px);
  width: calc(100% + 18px);
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.07);
  cursor: pointer;
  transition: 200ms all;
}

.fund_list_item:hover:before {
  opacity: 1;
}

.orange_bar {
  border-radius: 27px;
}

.pagination_button {
  border: 1px solid #d9d9d9;
  box-shadow: 0px 0.5px 2px rgba(0, 0, 0, 0.1);
}

.pagination_div {
  color: #595959;

  display: flex;
  align-items: center;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  box-shadow: 0px 0.5px 2px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  background-color: #ffffff;

}

.pagination_active {
  background-color: #1971e4;
  color: #ffffff;
}

.pagination_active:hover {
  background-color: #1971e4 !important;
  color: #ffffff !important;
}

.pagination_item {
  cursor: pointer;
  line-height: 1.2;
  padding: 11px 16px;
  box-shadow: inset -1px 0px 0px #d9d9d9;
  font-size: 14px;
  font-weight: 500;
}

.pagination_item:hover {
  background-color: #f2f2f2
}

.recommended_badge {
  padding: 2px 6px 2px 1.375rem;
  position: relative;
}

.recommended_badge:before {
  background-image: url(https://deploy-preview-52--evergreen-gulp.netlify.app//assets/images/svg/mark.svg);
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-size: contain;
  left: 6px;
  top: 3.5px;
}

.topranked_badge {
  padding: 2px 6px 2px 1.375rem;
  position: relative;
}

.topranked_badge:before {
  background-image: url(https://deploy-preview-52--evergreen-gulp.netlify.app/assets/images/svg/star-circled.svg);
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-size: contain;
  left: 6px;
  top: 3.5px;
}

.advanced_filters {
  font-size: 14px;
  color: #1971e4;
  font-weight: 500;
  padding: 2px 6px 2px 1.375rem;
  position: relative;
}

.advanced_filters:before {
  background-image: url(https://deploy-preview-52--evergreen-gulp.netlify.app/assets/images/svg/union-blue.svg);
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-size: contain;
  left: 2px;
  top: 8px;
}



.back_filters {
  font-size: 14px;
  color: #1971e4;
  font-weight: 500;
  padding: 2px 6px 2px 1.375rem;
  position: relative;
}

.back_filters:before {
  background-image: url(https://deploy-preview-52--evergreen-gulp.netlify.app/assets/images/svg/arrow-left-blue.svg);
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-size: contain;
  left: 2px;
  top: 8px;
}

.filter_modal_back:before {
  content: "";
  position: absolute;
  background-image: url(https://deploy-preview-52--evergreen-gulp.netlify.app/assets/images/svg/back-arrow.svg);
  width: 16px;
  height: 14px;
  background-repeat: none;
  top: 13px;
  z-index: 1000;
}

.filter_modal_body {
  overflow: scroll;
  height: calc(100vh - 180px);
}