.breadcrum {
  padding: 2px 8px;
  background: #ffffff;
  border-radius: 1.9375rem;
  color: #343434;
}

.fund_filters_card {

  max-width: 192px;
  min-width: 192px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 0px 1.5px rgba(0, 0, 0, 0.5);
}

.fund_filters_card_last {
  max-width: 192px;
  min-width: 192px;
}

.funds_card_badge {
  top: 12px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2;
  padding: 5px 6px 5px 16px;
  color: #54894A;
  background-color: #E2F4D7;
}