.iframe {
  border-radius: 6px;
  max-width: 100%;
  width: 100%;
  height: 100%;
  max-height: 250.88px;
  min-height: 250.88px;

  
}

.breadcrumb_list_item:after {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(https://deploy-preview-52--evergreen-gulp.netlify.app/assets/images/svg/right-arrow.svg);
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  width: 5px;
  height: 8px;
}

.funds_card_label:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 8px solid #ffffff;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
}

.fund_card_container:hover .funds_card_label:before {
  border-left-color: #f2f2f2;
}



.list_div {
  box-shadow: 0px 1px 0px #e2e8f0;
  margin-top: 1px;
}

.fund_list_item:hover .list_div {
  box-shadow: unset;
}

.fund_list_item:before {
  opacity: 0;
  content: "";
  position: absolute;
  top: -1px;
  left: -10px;
  height: calc(100% - 0px);
  width: calc(100% + 18px);
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.07);
  cursor: pointer;
  transition: 200ms all;
}

.fund_list_item:hover:before {
  opacity: 1;
}

.badge_atom {
  padding: 2px 6px 2px 1.375rem;
  position: relative;
}

.badge_atom:before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-size: contain;
  left: 6px;
  top: 3px;
}


.recommended_badge:before {
  background-image: url(https://deploy-preview-52--evergreen-gulp.netlify.app//assets/images/svg/mark.svg);
}

.topranked_badge:before {
  background-image: url(https://deploy-preview-52--evergreen-gulp.netlify.app/assets/images/svg/star-circled.svg);

}

.notRecommended_badge:before {
  background-image: url(https://deploy-preview-52--evergreen-gulp.netlify.app/assets/images/svg/not-recommended.svg);

}



.advanced_filters:before {
  background-image: url(https://deploy-preview-52--evergreen-gulp.netlify.app/assets/images/svg/union-blue.svg);
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-size: contain;
  left: 10px;
  top: 8px;
}


.back_filters:before {
  background-image: url(https://deploy-preview-52--evergreen-gulp.netlify.app/assets/images/svg/arrow-left-blue.svg);
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-size: contain;
  left: 10px;
  top: 7px;
}

.filter_modal_back:before {
  content: "";
  position: absolute;
  background-image: url(https://deploy-preview-52--evergreen-gulp.netlify.app/assets/images/svg/back-arrow.svg);
  width: 16px;
  height: 14px;
  background-repeat: none;
  top: 13px;
  z-index: 1000;
}

.filter_modal_body {
  height: calc(100vh - 180px);
}

/* section2 */

.section_two_right:after {
  content: "";
    position: absolute;
    width: 57px;
    height: 57px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(https://deploy-preview-52--evergreen-gulp.netlify.app/assets/images/svg/multi-start.svg);
    top: -23px;
    right: -16px;
}

.section_two_parent_grid {
  grid-auto-rows: minmax(min-content, max-content);
  grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content);

}

.section_two_top_left_div:after {
  height: 84px;
  width: 2px;
  background-image: url(https://deploy-preview-52--evergreen-gulp.netlify.app/assets/images/svg/vertical-line.svg);
  right: -1px;
  bottom: -42px;
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

.section_two_top_right_div:after {
  height: 2px;
  width: 84px;
  background-image: url(https://deploy-preview-52--evergreen-gulp.netlify.app/assets/images/svg/horizantal-line.svg);
  left: -42px;
  bottom: -1px;
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

.section_two_tab {
  width: 238px;
}
.section_two_img {
  top: -42px;
  right: -19px;
}

/* section 4 */
.section_four_shadow {
  counter-reset: section;
}

.section_four_li:before {
  position: absolute;
  counter-increment: section;
  content: counters(section, ".") " ";
  font-size: 14px;
  width: 28px;
  height: 28px;
  line-height: 1.2;
  border-radius: 50%;
  background-color: #b6f1e0;
  color: #22543d;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: -4px;
}

.section_four_li:after {
  content: "";
  position: absolute;
  width: 1px;
  height: calc(100% - 32px);
  top: 26px;
  left: 14px;
  bottom: 0;
  background-color: #e6e6e6;
}

.section_four_li_last:before {
  position: absolute;
  counter-increment: section;
  content: counters(section, ".") " ";
  font-size: 14px;
  width: 28px;
  height: 28px;
  line-height: 1.2;
  border-radius: 50%;
  background-color: #b6f1e0;
  color: #22543d;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: -4px;
}

.section_five_logo {
  top: -22px;
  right: 46%;
}

.footer_acc_border {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.fund_name {
  max-width: 490px;
  min-width: 490px;
  width: 100%;
}

.pagination_button {
  border: 1px solid #d9d9d9;
  box-shadow: 0px 0.5px 2px rgba(0, 0, 0, 0.1);
}

.pagination_div {
  color: #595959;

  display: flex;
  align-items: center;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  box-shadow: 0px 0.5px 2px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  background-color: #ffffff;

}

.pagination_active {
  background-color: #1971e4;
  color: #ffffff;
}

.pagination_active:hover {
  background-color: #1971e4 !important;
  color: #ffffff !important;
}

.pagination_item {
  cursor: pointer;
  line-height: 1.2;
  padding: 11px 16px;
  box-shadow: inset -1px 0px 0px #d9d9d9;
  font-size: 14px;
  font-weight: 500;
}

.pagination_last {
  cursor: pointer;
  line-height: 1.2;
  padding: 11px 16px;
  box-shadow: unset;
  font-size: 14px;
  font-weight: 500;
}

.pagination_item:hover {
  background-color: #f2f2f2
}

@media (max-width: 576px) { 
  .section_three_header:after {
    content: "";
    position: absolute;
    right: -15px;
    top: -5px;
    background-image: url(https://deploy-preview-52--evergreen-gulp.netlify.app/assets/images/svg/multi-start.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 57px;
    height: 57px;
  }

  .fund_list_item:before {
    display: none;
  }

  .pagination_button {
    max-width: 90px;
    width: 100%;
  }

  /* .fund_list_item:hover .list_div {
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.07);
  } */
 }